/************** Dropdown menu ************/

.menutop {
    display: flex;
    justify-content: space-between;
}

.menu-content {
    max-height: 0;
    overflow: hidden;
}

.dropdown-menu {
    background: #fff;
    padding: 5px;
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown-menu label {
    display: block;
    cursor: pointer;
    background: url(img/closed.png) no-repeat left center;
    padding: 35px 0 35px 80px;
    width: 1vw;
    height: 1vh;
}

input#menu {
    display: none;
}

input:checked~label {
    background: url(img/open.png) no-repeat left center;
    width: 1vw;
    height: 1vh;
    padding: 35px 0 35px 80px;
}

input:checked~.menu-content {
    max-height: 100%;
}


/************** Menu tablet desktop ************/

nav {
    font-family: 'martel', serif;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    padding: 10px 0;
    background-color: white;
    top: -1px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: black;
}

.menubox {
    position: relative;
}

.menubox span {
    cursor: pointer;
}

.menubox ul {
    display: none;
    list-style: none;
    position: absolute;
    left: -20%;
    top: 10px;
    padding: 30px 12px 0 12px;
    background-color: rgba(255, 255, 255, 0.71);
}

.menubox:hover>ul {
    display: block;
}

nav a:hover {
    color: #af1a2a;
}


/************** MEDIA QUERIES ************/

#splash .logo img {
    width: 100%;
}

#splash .logo {
    padding: 20px;
    width: 15vw;
    box-sizing: content-box;
}


/******* skrift ************/

h1 {
    font-family: 'martel';
    font-weight: 400;
    font-size: 3em;
    margin-left: 10px;
}

h2 {
    font-family: 'martel';
    font-weight: 400;
    font-size: 1.9em;
    margin-left: 10px;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-family: 'martel';
    font-weight: 400;
    font-size: 1.2em;
    margin-left: 10px;
    text-align: center;
}

h4 {
    font-family: 'martel';
    font-weight: 700;
    font-size: 1em;
    margin-left: 10px;
    text-align: center;
}

p {
    font-family: "Open+Sans";
    font-weight: 400;
    font-size: 1.2em;
    margin-left: 10px;
}

footer p {
    color: black;
    font-size: 0.8em;
}

footer {
    display: flex;
    justify-content: space-between;
}


/******************* forside ************/


/**************** mad & vin *************/

#mad,
#vin img {
    max-width: 100%;
}

#mad .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.93);
    padding: 1em 1em 1em 1em;
}

#mad .column {
    border-bottom: solid 1px black;
    width: 100%;
}

#frokost,
#charcuteri,
#foretten,
#dagensret,
#ost,
#desserten {
    padding-top: 49px;
    margin-top: -49px;
}

#mad .column p {
    text-align: center;
}

#vin .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: solid 1px black;
    background-color: rgba(255, 255, 255, 0.93);
    padding: 1em 1em 1em 1em;
}

.vin-liste {
    width: 100%;
    margin-left: 10px;
}

#vin .sectionwrapper ul {
    list-style-type: none;
    padding: 0;
}

#vin li {
    padding: 5px 0 0;
}

#vin li a {
    color: black;
}

#vin li a:hover {
    color: #af1a2a;
}

#mad,
#vin {
    background: url(bagrund/madogvin.jpg);
}


/************** kontakt *******/

#kontakt h2,
#kontakt p {
    color: white;
}

#kontakt .sectionwrapper {
    background-color: transparent;
    padding: 1em 1em 1em 1em;
}


/************** MEDIA QUERIES ************/

#kontakt {
    background: url(bagrund/gryde_final.jpg);
}

#kontakt h3 {
    color: white;
    text-align: left;
}


/************* om *************/

#om p {
    text-align: justify;
}

#om .sectionwrapper {
    background-color: transparent;
    padding: 1em 1em 1em 1em;
    color: white;
}


/**** VIDEO ****/

#video {
    /*    width: 80vw;*/
}

.hs-responsive-embed-youtube iframe {
    position: absolute;
    width: 100%!important;
    height: 100%!important;
}

.hs-responsive-embed-youtube {
    position: relative;
    padding-bottom: 60%;
    /* 16:9 Aspect Ratio */
    padding-top: 1px;
}

.google-map {
    border: none;
    width: 100%;
    max-width: 400px;
    min-height: 300px;
}


/************** MEDIA QUERIES ************/

#om {
    background: url(bagrund/final_bord.jpg);
}

#forside {
    height: 167vw;
    background-image: url(forside/image/mobil_portrait.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 0px) and (max-width: 451px) {
    #forside {
        background-image: url(forside/image/mobil_portrait.jpg);
        height: 100vw;
    }
}

@media screen and (min-width: 0px) and (max-width: 451px) {
    .navbar {
        display: none;
    }
}

@media screen and (min-width: 0px) and (max-width: 451px) {
    .dropdown-menu {
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 452px) and (max-width: 2000px) {
    .dropdown-menu {
        display: none;
    }
}

@media screen and (min-width: 452px) and (max-width: 1024px) {
    #forside {
        background-image: url(forside/image/tablet_portr%C3%A6t.jpg);
        height: 75vh;
    }
}

@media screen and (min-width: 1024px) and (max-width:2000px) {
    #forside {
        background-image: url(forside/image/desktop.jpg);
        height: 65vh;
    }
}

@media screen and (min-width:767px) {
    #mad .sectionwrapper {
        margin: 0 auto;
        width: 50%;
    }
}

@media screen and (min-width:767px) {
    #vin .sectionwrapper {
        margin: 0 auto;
        width: 50%;
    }
}

@media screen and (min-width:767px) {
    #kontakt .sectionwrapper {
        margin: 0 auto;
        width: 50%;
    }
}

@media screen and (min-width:767px) {
    #om .sectionwrapper {
        margin: 0 auto;
        width: 50%;
    }
}
