img {
    max-width: 100%;
}

#mad .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#mad .column {
    border-bottom: solid 1px black;
    width: 100%;
}

#mad .column p {
    text-align: center;
}

#vin .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: solid 1px black;
}

#vin .sectionwrapper ul {
    list-style-type: none;
    padding: 0;
}

#vin li {
    text-align: center;
    padding: 5px 0 0;
}

#vin li a {
    color: black;
}

#vin li a:hover {
    color: #af1a2a;
}

#mad,
#vin {
    background: url(bagrund/madogvin.jpg);
}

.sectionwrapper {
    margin: 0 auto;
    margin: 0 30vw 0 30vw;
    background-color: rgba(255, 255, 255, 0.65);
    margin: 0 25vw 0 25vw;
    padding: 1em 1em 1em 1em;
}
