#kontakt h2,
p {
    color: white;
}

#kontakt .sectionwrapper {
    margin: 0 auto;
    margin: 0 30vw 0 30vw;
    background-color: transparent;
    margin: 0 25vw 0 25vw;
    padding: 1em 1em 1em 1em;
}


/************** MEDIA QUERIES ************/

#kontakt {
    background: url(bagrund/gryde_4.jpg);
}

#kontakt h3 {
    color: white;
    text-align: left;
}
