h2,
p {
    color: white;
}

.sectionwrapper {
    margin: 0 auto;
    margin: 0 30vw 0 30vw;
    background-color: transparent;
    margin: 0 25vw 0 25vw;
    padding: 1em 1em 1em 1em;
}

#kontakt {
    background: url(bagrund/vinogtavle.jpg);
}
